//- objeto.pug
doctype html
html(lang="es")
  include head.pug
  body
    include nav.pug

    if cantidad === 0
      p No hay productos disponibles.
    if noEsArray
      .productos
        p
          strong Referencia:
          | #{productos._id}
        p
          strong Descripción:
          | #{productos.descripcion}
        p
          strong Categoría:
          | #{productos.categoria}
        p
          strong Precio:
          | #{productos.precio}
        p
          strong Tamaño:
          | #{productos.talla}
        img(src=productos.imagen, alt=productos.nombre)
        if isDashboardRoute
          img(src=productos.imagen, alt=productos.nombre)
          div
            form(action=`/dashboard/${productos._id}/edit`, method="GET")
              button(type="submit") Actualizar artículo
            form(action=`/dashboard/${productos._id}/delete?_method=DELETE`, method="POST")
              button(type="submit") Eliminar artículo        
    else 
      each producto in productos
        .producto
          p
            strong Referencia:
            | #{producto._id}
          p
            strong Descripción:
            | #{producto.descripcion}
          p
            strong Categoría:
            | #{producto.categoria}
          p
            strong Precio:
            | #{producto.precio}
          p
            strong Tamaño:
            | #{producto.talla}
          if conEnlace
            a(href=`/products/${producto._id}`)
              img(src=producto.imagen, alt=producto.nombre)
          else
            img(src=producto.imagen, alt=producto.nombre)
            div
              form(action=`/dashboard/${producto._id}/edit`, method="GET")
                button(type="submit") Actualizar artículo
              form(action=`/dashboard/${producto._id}/delete?_method=DELETE`, method="POST")
                button(type="submit") Eliminar artículo
    